//font-weight
$poppins-200: 200;
$poppins-300: 300;
$poppins-400: 400;
$poppins-500: 500;
$poppins-700: 700;

//backgrounds
$bgc-aquamarine:#009581;
$bgc-dark:#004759;
$bgc-button:#004759;
$bgc-footer:#252525;
$bgc-shadow:#00475966;
$bgc-light-grey:#f3f3f3;
$bgc-white:#ffff;
//colors
$color-white:#f5f5f5;
$color-black:#004759;
$color-channel-marker-green:#05d1b6;
$color-fake-jade:#cbf5ef;
